.navbar {
    background-color: #ADD8E6;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .5); 
    height: 80px !important;

}

.hamburger-icon {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    transition: transform 0.1s ease;
    background-color: #0073cf; /* Set your desired light blue background color */
    border-radius: 5px; /* Optional: add rounded corners to the icon */
    color: white;

}

.btn-close{
    font-size: large;
}

.menu-label {
    font-family: 'Open Sans', sans-serif; /* Set your desired font family for the menu label */
    font-size: 18px; /* Set your desired font size */
    margin-right: 10px;
    font-weight: bold;
    color: #0073cf;;
}

.hamburger-icon i {
    transition: transform 0.3s ease; /* Add smooth transition effect for hover animation */
}

.hamburger-icon:active i {
    transform: scale(.8); /* Scale down the icon when clicked */
}


/* Show the imploded icon when the off-canvas is open */
.offcanvas.show .implode-animation {
    display: block;
}


.offcanvas-header {
    background-color: #0073cf;
    margin-left: 90%;
}

.offcanvas-title {
    color: black;
}

.offcanvas-body {
    margin-left: 10%;
    background-color: #0073cf;
}

.offcanvas {
    width: 550px; /* Set the desired width for the off-canvas */
    background-color: #0073cf;
    display: flex;
    flex-direction: column;
}

/* Show dropdown menu on hover */
.dropend:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 50%; /* Position it to the right of the parent */
    background: none;
    border: none;
    cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
    background-color: transparent; /* Set background color to transparent on hover */
}


.vertical {
    border-left: 5px solid white;
    height: 270px;
    position:absolute;
    left: 5%;
    margin-right: 50px;
  }

.submenu .dropdown-toggle::after {
    display: none;
}

.btn-light-blue {
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    background-color: #0073cf;
    border: #0073cf;
}

.btn{
    padding: 15px;
    font-weight: bold;
}

.btn-light-blue:hover {
    transform: scale(1.05); /* Increase the size on hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
    background-color: #0073cf;
}

.home-link a {
    text-decoration: none;
    color: white;
    transition: color 0.1s ease;
    padding: 0;
}

.home-link a:hover {
    color: black;
}

.text {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    transition: color 0.1s ease;
    cursor: pointer;
    transition: color 0.1s ease;
    padding: 0;
}

.textdrop{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;   
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
}

.textdrop:hover{
    color: black;
    transform: scale(1.1);
}

.text:hover {
    color: black;
}

.dropend:hover .dropdown-toggle.text,
.dropend:hover .dropdown-menu {
    color: black; /* Change the text color on hover to the desired color */
}

/* CSS for the logo element */
.logo {
    opacity: 0; /* Initially set opacity to 0 for the fade-in effect */
    transform: rotate(0deg); /* Initial rotation */
    transition: opacity 1s ease, transform 1s ease; /* Apply transitions for opacity and rotation */
}

/* Apply 360-degree rotation when the logo has a certain class */
.rotate {
    transform: rotate(360deg);
}
