.max-width{
    max-width: 800px;
}

body{
    font-family: sans-serif;
}

.custom-item:hover{
    background-color: lightgray;
}

.custom-cards{
    background-color: #ADD8E6;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    border: 1px solid black;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Apply animation to the slide-in class */
.slide-in {
    animation: slideIn .8s ease forwards;
}

.fade-in {
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

a {
    text-decoration: none;
}